<a href="https://colab.research.google.com/github/devika-su-resh/ADBMS-LAB/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(1,2,3,4)
print(1,2,3,4,sep='*')
print(1,2,3,4,end='&')

1 2 3 4
1*2*3*4
1 2 3 4&

In [3]:
a=1
b=1.1
c='hello me'
d= True
print(type(a), type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [4]:
na=(input("Enter your name :"))
print("hi",na)

Enter your name :devika
hi devika

In [1]:
n1=int(input("Enter the first number"))
n2=int(input("Enter the second number"))
sum=n1 + n2
print("the sum = ",sum)

Enter the first number10
Enter the second number20
the sum =  30

In [3]:
x=5
y=3
print("power :",x**y)
print("is x>y ?",x>y)

power : 125
is x>y ? True

conditional if else

In [4]:
age=int(input("Enter your age :"))
if age>=18:
  print("You are eligible to apply for the driving license.")
else:
  print("You are not eligible")

Enter your age :23
You are eligible to apply for the driving license.

num even or odd

In [6]:
num=int(input("Enter the number :"))
if num % 2==0:
  print("its an even number")
else:
  print("Its odd number")

Enter the number :3
Its odd number

largest of two num

In [11]:
n1=int(input("Enter the fisrt number :"))
n2=int(input("Enter the second number :"))
if n1>n2:
  print("the largest number is ",n1)

else:
  print("The largest number is ",n2)

Enter the fisrt number :10
Enter the second number :2
the largest number is  10

loops